* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  padding-bottom: 10px;
}
h1, a , img {
  text-decoration: none;
  color: black;
  font-size: 42px;
  border-bottom: 1px solid black;
  margin-top: 10px;
  /* width: 400px; */
  display: flex;
  flex-wrap: wrap;
}
.card {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid black;
  width: 600px;
}